## Comments in Python

In [1]:
#this is one line conmment

In [1]:
'''three
line 
comments
'''

'three\nline \ncomments\n'

In [2]:
2+2

4

## Variables

In [2]:
# variables #no need to define datatypes
a=10 
a

10

In [4]:
type(a) # getting the type of veriable

int

In [14]:
b=4+9j  #complex number
type(b)

complex

In [15]:
b.real # press tab to see properties

4.0

In [16]:
b.imag

9.0

## Strings and string Slicing

Strings are immutable sequences of unicode. Unicode is a system designed to represent all characters from languages.

In [9]:
str='this is new string'

In [10]:
str[-1] # access last index

'g'

In [11]:
str[0] # to get first index value

't'

In [12]:
str[1:2] # 1 represent staring index, 2 represent last index excluding 2nd position

'h'

In [13]:
str[0:5]

'this '

In [22]:
str[0:8:2] # 0 represent staring index, 8 represent last index excluding 2nd position 2 represent 
#third parameter, the stride, which refers to how many characters you want to move forward after the first character is
#retrieved from the string. The value of stride is set to 1 by default.

'ti s'

In [15]:
str[-1]

'g'

In [16]:
str[-3]

'i'

In [17]:
str

'this is new string'

In [18]:
str[-6:-1]#object slicing

'strin'

In [19]:
str[-1::-1]

'gnirts wen si siht'

## List and List funtions

In [20]:
lst=list()

In [21]:
type(lst)

list

In [44]:
lst1=[]

In [46]:
type(lst)

list

In [49]:
lst=[1,2,3,'test']

In [50]:
lst[0]

1

In [51]:
lst[-1][1]

'e'

In [1]:
#generator
range(10)

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [6]:
list(range(10,3,-1))

[10, 9, 8, 7, 6, 5, 4]

In [7]:
l=[3,4,5,6,7,8,23,4,5]
l

[3, 4, 5, 6, 7, 8, 23, 4, 5]

## For Loop

In [8]:
for i in l:
    print(i)

3
4
5
6
7
8
23
4
5

In [10]:
m=[]
for i in l:
    m.append(i+2)

In [11]:
m

[5, 6, 7, 8, 9, 10, 25, 6, 7]

In [15]:
m=[]
for i in range(len(l)):
    m.append(l[i]+2)

In [16]:
m

[5, 6, 7, 8, 9, 10, 25, 6, 7]

In [1]:
for i in 'sudh':
    if i == 'd':
        continue
    print (i)

s
u
h

In [2]:
for i in 'sudh':
    if i == 'd':
        break
    print (i)

s
u

In [7]:
for i in 'sudh':
    if i == 'd':
        print (i)
    
else:
    print('end')
print ('end of code')

d
end
end of code

In [8]:
input()

a

'a'

## String Operations

In [9]:
"shivani is a girl".split(' ')

['shivani', 'is', 'a', 'girl']

In [10]:
'shivani is a is girl'.find('is')

8

In [13]:
s=  "shivani sharma"
s.center(50,'#')

'##################shivani sharma##################'

In [14]:
'shivani is is a'.partition('is')

('shivani ', 'is', ' is a')

In [17]:
'shivani\tsharma'.expandtabs()

'shivani sharma'

In [18]:
'my name is {} sharma'.format('shivani')

'my name is shivani sharma'

In [19]:
a= input('please give your name')
'my name is {}'.format(a)

please give your nameshiv

'my name is shiv'

## List Operations

In [38]:
b=[1,2,3,4,5,65,'df','f','g','g']
b.insert(3,'shi')

In [21]:
b

[1, 2, 3, 'shi', 4, 5, 65, 'df', 'f', 'g', 'g']

In [22]:
b.insert(-1,'we')

In [23]:
b

[1, 2, 3, 'shi', 4, 5, 65, 'df', 'f', 'g', 'we', 'g']

In [24]:
b.append('zzz')

In [25]:
b

[1, 2, 3, 'shi', 4, 5, 65, 'df', 'f', 'g', 'we', 'g', 'zzz']

In [26]:
[12,23,34]+[1,2]

[12, 23, 34, 1, 2]

In [27]:
b.pop()#remove data from last index

'zzz'

In [39]:
b

[1, 2, 3, 'shi', 4, 5, 65, 'df', 'f', 'g', 'g']

In [40]:
b[::-1]

['g', 'g', 'f', 'df', 65, 5, 4, 'shi', 3, 2, 1]

In [48]:
b.reverse()

In [46]:
b.reverse()

In [50]:
b.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [49]:
b

['g', 'g', 'f', 'df', 65, 5, 4, 'shi', 3, 2, 1]

In [51]:
c=[41,2,34,2,1,3]

In [52]:
c.sort()

In [53]:
c

[1, 2, 2, 3, 34, 41]

In [55]:
c.sort(reverse=True)

In [56]:
c

[41, 34, 3, 2, 2, 1]

In [58]:
a=[1,2,3,4]
b=[5,6,7,78,5]
c=[9,76,5,5,4,4,433,3,3]

In [72]:
d=[a,b,c]

In [60]:
d

[[1, 2, 3, 4], [5, 6, 7, 78, 5], [9, 76, 5, 5, 4, 4, 433, 3, 3]]

In [61]:
d[-1][::2]

[9, 5, 4, 433, 3]

In [62]:
#reverse all d
m=[]

d=d[::-1]

for b in d:
    m.append(b[::-1])

In [64]:
m

[[3, 3, 433, 4, 4, 5, 5, 76, 9], [5, 78, 7, 6, 5], [4, 3, 2, 1]]

In [74]:
#another method
m=[]

d.reverse()

for b in d:
    m.append(b[::-1])

In [75]:
d

[[9, 76, 5, 5, 4, 4, 433, 3, 3], [1, 2, 3, 4], [1, 2, 3, 4]]

In [79]:
d=[a,b,c]

m=[]

for b in d:
    m.append(b[2])

In [80]:
m

[3, 5, 5]

In [78]:
d

[[1, 2, 3, 4], [1, 2, 3, 4], [9, 76, 5, 5, 4, 4, 433, 3, 3]]

In [81]:
#list comprehention funtion

In [82]:
d=[a,b,c]

m=[]

for b in d:
    m.append(b[2]*2)

In [83]:
m

[6, 10, 10]

In [87]:
[i[2]*2 for i in d ] #list  Comprehension funtion

[6, 10, 10]

In [88]:
m

[6, 10, 10]

In [89]:
s=[1,2,3,34]

In [91]:
s.extend([2,3,4])#after unwrap data then insert, rabble

In [92]:
s

[1, 2, 3, 34, 2, 3, 4]

In [93]:
s.append([1.2])

In [94]:
s

[1, 2, 3, 34, 2, 3, 4, [1.2]]

In [95]:
s.index(2) # first occurences

1

In [106]:
a=[1,7,2,3,7,8,[1,2,34,4,6,7,8,6,5,47,7]]# remove 7

In [97]:
for i in a:
    if i==7:
        a.remove(7)

In [98]:
a

[1, 2, 3, 8, [1, 2, 34, 4, 6, 7, 8, 6, 5, 47, 7]]

In [108]:
for i in a:
    if i==7:
        a.remove(7)
    elif type(i) ==list:
        print('test')
        for j in i:
            if j==7:
                i.remove(7)

test

In [100]:
i

[1, 2, 34, 4, 6, 8, 6, 5, 47, 7]

In [109]:
a

[1, 2, 3, 8, [1, 2, 34, 4, 6, 8, 6, 5, 47]]

In [110]:
d=[a,b,c]

In [111]:
d

[[1, 2, 3, 8, [1, 2, 34, 4, 6, 8, 6, 5, 47]],
 [9, 76, 5, 5, 4, 4, 433, 3, 3],
 [9, 76, 5, 5, 4, 4, 433, 3, 3]]

In [112]:
[i for i in [[1,2,3],[4,5,6],[7,8,9]]]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [113]:
[i[0] for i in [[1,2,3],[4,5,6],[7,8,9]]]

[1, 4, 7]

In [116]:
[m for m in [i[2] for i in [[1,2,3],[4,5,6],[7,8,9]]]]

[3, 6, 9]