## Tuples
Lists and tuples are two of the most commonly used data structures in Python.
Lists and tuples have many similarities. Some of them have been enlisted below:

They are both sequence data types that store a collection of items
They can store items of any data type
And any item is accessible via its index.

## Difference
In Python, lists and tuples are declared in different ways. A list is created using square brackets [] whereas the tuple is ceated using parenthesis ()

Lists are mutable while tuples are immutable, and this marks the KEY difference between the two

Tuples cannot be copied. The reason is that tuples are immutable. If you run tuple(tuple_name), it will immediately return itself.

Python allocates memory to tuples in terms of larger blocks with a low overhead because they are immutable. On the other hand, for lists, Pythons allocates small memory blocks. At the end of it, the tuple will have a smaller memory compared to the list. This makes tuples a bit faster than lists when you have a large number of elements

We can conclude that although both lists and tuples are data structures in Python, there are remarkable differences between the two, with the main difference being that lists are mutable while tuples are immutable. A list has a variable size while a tuple has a fixed size. Operations on tuples can be executed faster compared to operations on lists.

In [1]:
list1 = [2,3,4,'shiv']

In [2]:
tup= ()

In [3]:
type(tup)

tuple

In [4]:
type(list1)

list

In [5]:
t = (1,2,34,4,55)

In [6]:
t

(1, 2, 34, 4, 55)

In [7]:
t = (1,2,3,"test")

In [8]:
t

(1, 2, 3, 'test')

In [9]:
# hetrogenious data set in both

In [10]:
# touple data slicing

In [11]:
t[0 ]

1

In [12]:
t[::-1] # no difference in data slicing in tuple and list not symentically not funtionaly

('test', 3, 2, 1)

In [13]:
len(t) # l3ngth of tuple

4

In [14]:
list[0]

TypeError: 'type' object is not subscriptable

In [15]:
# replacing difference
list[0]= "test"

TypeError: 'type' object does not support item assignment

In [16]:
t[0]="test" # not possible

TypeError: 'tuple' object does not support item assignment

In [17]:
list1

[2, 3, 4, 'shiv']

In [18]:
t[0]

1

In [19]:
# string is also a immutable entity
s='shivani'
s[0]

's'

In [20]:
s[0]='1'

TypeError: 'str' object does not support item assignment

In [21]:
t =(1,2,3,4)

In [22]:
for i in t :
    print(t)

(1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4)

In [23]:
list1 = [1,2,3,4]

In [24]:
for i in list1:
    print(i)

1
2
3
4

In [25]:
for i in range(len(t)):# 
    print(i)

0
1
2
3

In [26]:
list1.append(1)# inbuild function

In [27]:
list

list

In [28]:
#t.count and index is only function in tuple

In [29]:
t.count(1)

1

In [30]:
list1.count(1)

2

In [31]:
t()

TypeError: 'tuple' object is not callable

In [32]:
t

(1, 2, 3, 4)

In [33]:
t.index(1)

0

In [34]:
t1=(45,67,89)

In [35]:
t+t1 # concatination is working in touple

(1, 2, 3, 4, 45, 67, 89)

In [36]:
t = t+t1

In [37]:
t

(1, 2, 3, 4, 45, 67, 89)

In [38]:
t.append(1) ,  # append ,insert is not working

AttributeError: 'tuple' object has no attribute 'append'

In [39]:
t=t1

In [40]:
t1

(45, 67, 89)

In [41]:
t

(45, 67, 89)

In [42]:
t=(1,2,3)

In [43]:
t

(1, 2, 3)

In [44]:
list(t)

[1, 2, 3]

In [48]:
l = list(t)

In [49]:
l.insert(2,"shiv")

In [50]:
l

[1, 2, 'shiv', 3]

In [51]:
t = tuple(l)

In [52]:
t

(1, 2, 'shiv', 3)