## Dictinary

able to store key value pair

In [1]:
d={"name":"shiv"} # first value is key another is valuye

In [2]:
d

{'name': 'shiv'}

In [3]:
d1=dict()

In [5]:
type(d1)

dict

In [6]:
#duplicate keys are not allowed

In [7]:
d1={'name': 'shiv','surname':'sharma','name':"xyz"} # xyz replace

In [8]:
d1

{'name': 'xyz', 'surname': 'sharma'}

In [15]:
d={1:[1,2,3,4],2:[12,[1,2]],3:(1,2,3),4:{1,2,3} ,5:{'key':'value'}} 
# nested list, tuple, sets are allowed as value

In [16]:
d

{1: [1, 2, 3, 4],
 2: [12, [1, 2]],
 3: (1, 2, 3),
 4: {1, 2, 3},
 5: {'key': 'value'}}

In [18]:
d[0] # not accessing in indexed , not store data as index form

KeyError: 0

In [21]:
d[5]['key']

'value'

In [22]:
# for loop in dict

In [23]:
for i in d:
    print(i)

1
2
3
4
5

In [24]:
for i in d:  # for values 
    print(d[i])

[1, 2, 3, 4]
[12, [1, 2]]
(1, 2, 3)
{1, 2, 3}
{'key': 'value'}

In [26]:
d.keys()

dict_keys([1, 2, 3, 4, 5])

In [27]:
d.values()

dict_values([[1, 2, 3, 4], [12, [1, 2]], (1, 2, 3), {1, 2, 3}, {'key': 'value'}])

In [29]:
for i in d.keys():  # for values 
    print(d[i])

[1, 2, 3, 4]
[12, [1, 2]]
(1, 2, 3)
{1, 2, 3}
{'key': 'value'}

In [30]:
# get tuple from d
m=[]
for i in d.values():
    if type(i) ==tuple:
        for j in  i:
            m.append(j)

In [31]:
m

[1, 2, 3]

In [32]:
# add new key value pair inside a dict

In [33]:
d['6']='this is my new data'

In [34]:
d

{1: [1, 2, 3, 4],
 2: [12, [1, 2]],
 3: (1, 2, 3),
 4: {1, 2, 3},
 5: {'key': 'value'},
 '6': 'this is my new data'}

In [35]:
# can override existing value

In [36]:

d[1]='shivani'

In [37]:
d

{1: 'shivani',
 2: [12, [1, 2]],
 3: (1, 2, 3),
 4: {1, 2, 3},
 5: {'key': 'value'},
 '6': 'this is my new data'}

In [39]:
# to make a dict key is int and value is square of the key
d= {}
for i in range(10):
    d[i]=i**2
    
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [40]:
l=['abc','xyz']

In [41]:
l

['abc', 'xyz']

In [43]:
#by list comprehention
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [44]:
d.items()

dict_items([(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)])