# function

Uses - reuse the code

In [2]:
#in python - no need to pass data type of arg or return type

def myFun():
    print('test')

In [3]:
def fun():
    pass

In [4]:
myFun()

test

In [5]:
type(myFun()) #

test

NoneType

In [6]:
for i in range(10):
    pass

In [7]:
type(print("xyz"))

xyz

NoneType

In [9]:
type(print(1+2))

3

NoneType

In [10]:
def test():
    a=1
    b = 2
    return a+b
type(test())

int

In [11]:
test()+1

4

In [12]:
# test() fun type is int so we can add int in it

In [13]:
def add(a,b):
    return a+b

In [17]:
add(10,20) # addition on number

30

In [19]:
str = add('my ', 'name') # concatenate

In [20]:
type(str)

str

In [21]:
str.upper()

'MY NAME'

In [22]:
# return multiple values

In [25]:
def add1(a,b):
    return a+b, a*b

In [39]:
y,x=add1(4,5)  # maping

In [28]:
x

20

In [29]:
y

9

In [32]:
add1(4,5)

(9, 20)

In [33]:
type(add1(4,5))

tuple

In [34]:
a=1
b=2
c=3
d='shiv'

In [37]:
a,b,c ,d = 1,2,3,'shiva' # mulipale vreiable maping

In [38]:
d

'shiva'

In [40]:
# default arg
def add2(a,b='sharma'):
    return a+b

In [43]:
add2('shaivani','kum')

'shaivanikum'

In [45]:
add2('shaivani') # taking default arg

'shaivanisharma'

In [47]:
def fun():
    return 1,2,3

In [50]:
_,_,a=fun()  # placeholder

In [49]:
a

3

## Generator

In [46]:
# range is a generator function as it generates the data