#  Creating Functions

Uses - reuse the code

In [2]:
#in python - no need to pass data type of arg or return type

def myFun():
    print('test')

In [3]:
def fun():
    pass

In [4]:
myFun()

test

In [5]:
type(myFun()) #

test

NoneType

In [6]:
for i in range(10):
    pass

In [7]:
type(print("xyz"))

xyz

NoneType

In [9]:
type(print(1+2))

3

NoneType

In [10]:
def test():
    a=1
    b = 2
    return a+b
type(test())

int

In [11]:
test()+1

4

In [12]:
# test() fun type is int so we can add int in it

In [13]:
def add(a,b):
    return a+b

In [17]:
add(10,20) # addition on number

30

In [19]:
str = add('my ', 'name') # concatenate

In [20]:
type(str)

str

In [21]:
str.upper()

'MY NAME'

In [22]:
# return multiple values

In [25]:
def add1(a,b):
    return a+b, a*b

In [39]:
y,x=add1(4,5)  # maping

In [28]:
x

20

In [29]:
y

9

In [32]:
add1(4,5)

(9, 20)

In [33]:
type(add1(4,5))

tuple

In [34]:
a=1
b=2
c=3
d='shiv'

In [37]:
a,b,c ,d = 1,2,3,'shiva' # mulipale vreiable maping

In [38]:
d

'shiva'

In [40]:
# default arg
def add2(a,b='sharma'):
    return a+b

In [43]:
add2('shaivani','kum')

'shaivanikum'

In [45]:
add2('shaivani') # taking default arg

'shaivanisharma'

In [47]:
def fun():
    return 1,2,3

In [50]:
_,_,a=fun()  # placeholder

In [49]:
a

3

## Generator

In [46]:
# range is a generator function as it generates the data

In [1]:
# prime no is a kind of num divisibal by 1 and itself
#function that tell if a num is prime

In [16]:
def is_Prime(num):
    for i in range(2,num):
        if num%i ==0:
            print('not prime')
            break
    else:
        print('prime number')
is_Prime(56)

not prime

In [17]:
is_Prime(17)

prime number

In [21]:
def is_Prime(num):
    for i in range(2,num):
        if num%i ==0:
            return False
            break
    else:
        return True

In [20]:
is_Prime(56)

False

### Genetrator, Iterator and Itrerable

In [22]:
for i in 7:
    pass

TypeError: 'int' object is not iterable

In [23]:
for i in 'ste':
    pass

In [24]:
# string , list are iterable

In [26]:
next('str') # funtion is extaxt next data from iterator 
# note -> string is not iterater

TypeError: 'str' object is not an iterator

In [27]:
# we have to convert iterable to iterator before extract data if possible

In [28]:
a = iter('str') # to convert trerable to iterator

In [29]:
type(a)

str_iterator

In [31]:
next(a) # extract dataset from next index

't'

In [32]:
next(22)

TypeError: 'int' object is not an iterator

In [33]:
iter(22)

TypeError: 'int' object is not iterable

In [34]:
range(10)

range(0, 10)

In [35]:
next(range(10))

TypeError: 'range' object is not an iterator

In [39]:
next(iter(range(10))

SyntaxError: unexpected EOF while parsing (<ipython-input-39-45ad3b24b954>, line 1)

In [37]:
next([1,2.3])

TypeError: 'list' object is not an iterator

In [40]:
next(iter([1,2,3]))

1

In [41]:
 list('shiv')

['s', 'h', 'i', 'v']

In [42]:
list(range(1,5))

[1, 2, 3, 4]

In [44]:
def test(n):
    for i in range(n):
        print(i)

In [45]:
test(5)

0
1
2
3
4

In [47]:
# fun to generate cube
def genCube(n):
    for i in range(10):
        print(i**3)

In [48]:
genCube(10)

0
1
8
27
64
125
216
343
512
729

In [68]:
def genCube(n):
    for i in range(n):
        yield i **3  # generator object, iterable but not iterator

In [69]:
genCube(10)

In [70]:

    for i in genCube(10):
        print(i)

0
1
8
27
64
125
216
343
512
729

In [71]:
next(genCube(10))

0

In [72]:
v= iter(genCube(10))

In [75]:
next(v)

8

In [76]:
# series like 1,1,2,3,5,8,13,21,34,    fibonacci 
# code to generate a fibonacci  series - create a generator funtion 
# give a result when we will iterate it

In [99]:
def genfi(n):
    a=1
    b=1
    for i in range(n):
        yield( a)
        a,b = b,a+b     # inline operation

In [100]:
genfi(10)

In [101]:
# here funtion is return generator object
# generator object remember  what has done last time

In [102]:
f = iter(genfi(10))

In [106]:
next(f)

3

In [107]:
for i in genfi(10):
    print(i)

1
1
2
3
5
8
13
21
34
55

In [108]:
def square(n):
    return n**2

In [109]:
square(4)

16

In [110]:
l = [3,4,5,5,6,6,7]

In [111]:
# to find out square all the data and then return as list

In [112]:
n=[]
for i in l:
    n.append(square(i))

In [113]:
n

[9, 16, 25, 25, 36, 36, 49]

In [114]:
# by using list comprehentiopn 
[i**2 for i in l]

[9, 16, 25, 25, 36, 36, 49]

### Map funtion

In [119]:
map(square, l)  # also behaves like generator

9

In [121]:
list(map(square,l))

[9, 16, 25, 25, 36, 36, 49]

In [122]:
for i in map(square,l):
    print(i)

9
16
25
25
36
36
49

### Lambda operation

In [124]:
list (map(square,l))

[9, 16, 25, 25, 36, 36, 49]

In [128]:
list (map(lambda x: x **2,l)) # anonymous funtion

[9, 16, 25, 25, 36, 36, 49]

In [131]:
c= lambda x : x**2  # storing funtion in variable  # c is lambda funtion

In [132]:
list(map(c,l))

[9, 16, 25, 25, 36, 36, 49]

In [137]:
c

In [138]:
# read line by line a data, transform the data in to data set 
a=[1,2,3,4,5]

In [139]:
b= [5,6,7,8,9]
c= [1,2,3,4,56,76,7,8,6]

In [140]:
# final list index wise summation of the list

In [141]:
def sum(x,y,z):
    return x+y+z
list(map(sum,a,b,c)) # row wise operation or index wise operation

[7, 10, 13, 16, 70]

In [144]:
 list(map(lambda x,y,z: x+y+z,a,b,c))

[7, 10, 13, 16, 70]

### Reduce function

In [148]:
from functools import reduce

In [149]:
 l = [1,2,3,4,4,5,5]

In [150]:
def summ(a,b):
    return a+b
reduce(summ,l)

24

In [153]:
reduce(lambda x,y: x+y,l)  # comulative operation can be achive by reduce 
#aggregated operation

24

In [154]:
reduce(lambda x,y,z: x+y+z,l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

### Filter function

In [155]:
l=[1,2,3,4,5,5,6,6,67,7]

In [156]:
# get all even numbers

In [157]:
# one aprotch is for loop

In [158]:
list(filter (lambda x:x%2==0 , l))

[2, 4, 6, 6]

In [159]:
def even_check(n):
    if n%2==0:        # check for not != 
        return True   # check for false

In [161]:
list(filter(even_check,l))

[2, 4, 6, 6]