## SQLite

In [1]:
# sqllite stores data in main memory not in HDD

In [2]:
import sqlite3

In [3]:
c = sqlite3.connect('database1') # connect to db # in memory db

In [5]:
c.execute('drop table if exists abc')

In [6]:
c.execute('create table abc(id int, name text , score int )')

In [7]:
pwd()

'D:\\00_Target-March-2021\\myenv'

In [8]:
c.execute('create table pqv(id int, name text , score int )')

In [12]:
c.execute("insert into abc(id, name, score) values (123, 'shi', 1233444)")

In [16]:
c.commit()

In [15]:
c.execute("insert into abc(id, name, score) values (123, 'shi', 1233444)")
c.execute("insert into abc(id, name, score) values (123, 'shi', 1233444)")
c.execute("insert into abc(id, name, score) values (123, 'shi', 1233444)")
c.execute("insert into abc(id, name, score) values (123, 'shi', 1233444)")

In [17]:
c.commit()

In [19]:
list(c.execute("select * from abc"))

[(123, 'shi', 1233444),
 (123, 'shi', 1233444),
 (123, 'shi', 1233444),
 (123, 'shi', 1233444),
 (123, 'shi', 1233444),
 (123, 'shi', 1233444),
 (123, 'shi', 1233444),
 (123, 'shi', 1233444),
 (123, 'shi', 1233444)]

In [21]:
type((c.execute("select * from abc")))

sqlite3.Cursor

In [22]:
for i in c.execute("select * from abc"):
    print(i)

(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)

In [24]:
for i in c.execute("select * from abc order by score"):
    print (i)

(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)

In [30]:
for i in c.execute("select * from abc where name = 'shi'"):
    print(i)

(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)
(123, 'shi', 1233444)

### MYSQL

In [31]:
!pip install mysql

Collecting mysql
  Downloading mysql-0.0.2.tar.gz (1.9 kB)
Collecting mysqlclient
  Downloading mysqlclient-2.0.3-cp38-cp38-win_amd64.whl (179 kB)
Building wheels for collected packages: mysql
  Building wheel for mysql (setup.py): started
  Building wheel for mysql (setup.py): finished with status 'done'
  Created wheel for mysql: filename=mysql-0.0.2-py3-none-any.whl size=1252 sha256=466354b88912e5cf9c916277edf3d032876a6c94aea005aa48d81362023d6a38
  Stored in directory: c:\users\aman bhardwaj\appdata\local\pip\cache\wheels\3e\4a\d0\506edab38d1bdf574b02c24805fcf7348a327297fcc285431d
Successfully built mysql
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.2 mysqlclient-2.0.3

In [32]:
import mysqlConnecter

ModuleNotFoundError: No module named 'mysqlConnecter'

In [33]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp38-cp38-win_amd64.whl size=247947 sha256=e8992ced7c4132adc427dcc629f66d9f745843cd08dcf20c24f89cefb1158f0c
  Stored in directory: c:\users\aman bhardwaj\appdata\local\pip\cache\wheels\57\e4\98\5feafb5c393dd2540e44b064a6f95832990d543e5b4f53ea8f
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [34]:
import mysql.connector